$primary-color: #FF9800 !default;
$secondary-color: #0067FF !default;

@function adjust-color($color, $amount) {
    @if $amount > 0% {
        @return mix(white, $color, $amount);
    } @else {
        @return mix(black, $color, -$amount);
    }
}


:root {
    --color-primary: #{red(adjust-color($primary-color, 0%))} #{green(adjust-color($primary-color, 0%))} #{blue(adjust-color($primary-color, 0%))};
    --color-primary-50: #{red(adjust-color($primary-color, 90%))} #{green(adjust-color($primary-color, 90%))} #{blue(adjust-color($primary-color, 90%))};
    --color-primary-100: #{red(adjust-color($primary-color, 80%))} #{green(adjust-color($primary-color, 80%))} #{blue(adjust-color($primary-color, 80%))};
    --color-primary-200: #{red(adjust-color($primary-color, 60%))} #{green(adjust-color($primary-color, 60%))} #{blue(adjust-color($primary-color, 60%))};
    --color-primary-300: #{red(adjust-color($primary-color, 40%))} #{green(adjust-color($primary-color, 40%))} #{blue(adjust-color($primary-color, 40%))};
    --color-primary-400: #{red(adjust-color($primary-color, 20%))} #{green(adjust-color($primary-color, 20%))} #{blue(adjust-color($primary-color, 20%))};
    --color-primary-500: #{red(adjust-color($primary-color, 0%))} #{green(adjust-color($primary-color, 0%))} #{blue(adjust-color($primary-color, 0%))};
    --color-primary-600: #{red(adjust-color($primary-color, -10%))} #{green(adjust-color($primary-color, -10%))} #{blue(adjust-color($primary-color, -10%))};
    --color-primary-700: #{red(adjust-color($primary-color, -20%))} #{green(adjust-color($primary-color, -20%))} #{blue(adjust-color($primary-color, -20%))};
    --color-primary-800: #{red(adjust-color($primary-color, -30%))} #{green(adjust-color($primary-color, -30%))} #{blue(adjust-color($primary-color, -30%))};
    --color-primary-900: #{red(adjust-color($primary-color, -40%))} #{green(adjust-color($primary-color, -40%))} #{blue(adjust-color($primary-color, -40%))};
    --color-primary-950: #{red(adjust-color($primary-color, -50%))} #{green(adjust-color($primary-color, -50%))} #{blue(adjust-color($primary-color, -50%))};

    --color-secondary: #{red(adjust-color($secondary-color, 0%))} #{green(adjust-color($secondary-color, 0%))} #{blue(adjust-color($secondary-color, 0%))};
    --color-secondary-50: #{red(adjust-color($secondary-color, 90%))} #{green(adjust-color($secondary-color, 90%))} #{blue(adjust-color($secondary-color, 90%))};
    --color-secondary-100: #{red(adjust-color($secondary-color, 80%))} #{green(adjust-color($secondary-color, 80%))} #{blue(adjust-color($secondary-color, 80%))};
    --color-secondary-200: #{red(adjust-color($secondary-color, 60%))} #{green(adjust-color($secondary-color, 60%))} #{blue(adjust-color($secondary-color, 60%))};
    --color-secondary-300: #{red(adjust-color($secondary-color, 40%))} #{green(adjust-color($secondary-color, 40%))} #{blue(adjust-color($secondary-color, 40%))};
    --color-secondary-400: #{red(adjust-color($secondary-color, 20%))} #{green(adjust-color($secondary-color, 20%))} #{blue(adjust-color($secondary-color, 20%))};
    --color-secondary-500: #{red(adjust-color($secondary-color, 0%))} #{green(adjust-color($secondary-color, 0%))} #{blue(adjust-color($secondary-color, 0%))};
    --color-secondary-600: #{red(adjust-color($secondary-color, -10%))} #{green(adjust-color($secondary-color, -10%))} #{blue(adjust-color($secondary-color, -10%))};
    --color-secondary-700: #{red(adjust-color($secondary-color, -20%))} #{green(adjust-color($secondary-color, -20%))} #{blue(adjust-color($secondary-color, -20%))};
    --color-secondary-800: #{red(adjust-color($secondary-color, -30%))} #{green(adjust-color($secondary-color, -30%))} #{blue(adjust-color($secondary-color, -30%))};
    --color-secondary-900: #{red(adjust-color($secondary-color, -40%))} #{green(adjust-color($secondary-color, -40%))} #{blue(adjust-color($secondary-color, -40%))};
    --color-secondary-950: #{red(adjust-color($secondary-color, -50%))} #{green(adjust-color($secondary-color, -50%))} #{blue(adjust-color($secondary-color, -50%))};
  }